<h2>Bienvenido <%= user.nombre %></h2>
<ul>
  <li><a href="/productos">Productos</a></li>
  <li><a href="/empleados">Empleados</a></li>
  <li><a href="/mesas">Mesas</a></li>
  <li><a href="/logout">Salir</a></li>
</ul>
