<h2>Login</h2>
<form method="POST" action="/login">
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="password" name="password" placeholder="Contraseña" required><br>
  <button type="submit">Ingresar</button>
</form>
<% if (typeof error !== 'undefined') { %><p style="color:red"><%= error %></p><% } %>

